<p> inside intent </p>
<%= link_to "Regular Table", root_path %>


<table id="intentTable" class="table table-striped">
<thead>
<tr>
  <th>Firstname</th>
  <th>Lastname</th>
  <th>ID</th>
  </tr>
</thead>
 <tbody>
  </tbody>
</table>
    



<script>
    window.addEventListener('DOMContentLoaded', function(e){
      $(document).ready(function(){
        table1 = $("#intentTable").DataTable({
          ajax: "/intentj",
          columns: [
            { "data": "first_name" },
            { "data": "last_name" },
            { "data": "id" }
          ],
          columnDefs: [
            {
                targets:-1, // Start with the last
                render: function ( data, type, row, meta ) {
                    console.log(row);
                    //data = '<%= link_to "Regular Table", root_path %>';
                    data = '<a href="/people/' + row.id + '">' + row.first_name + '</a>';
                    return data;
                }
            }
        ] 
        })
     });

    })

</script>
